body
{
    text-align: center;
}

.card {
    border: 3px solid black;
    width: 10em;
    border-radius: 2em;
    overflow: hidden;
}


.cat {
    width: 10em;
    cursor: pointer;
}


.fact {
    padding: 1em;
}

