/* General Styles */
* {
    margin: 0.3rem;
    padding: 0.3rem;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #efccfa;
    /* Soft Pink Background */
    color: #333;
    line-height: 1.6;
}

.header {
    color: #64044d;
    font-size: 1.5rem;
    text-align: center;
    padding: 50px 0;
    background-color: rgba(171, 4, 180, 0.5);
    /* Lighter Pink Gradient */
}

.menu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1.5rem;
    background-color: rgba(171, 4, 180, 0.5);
    /* Transparent Pink */
}

.menu li a {
    text-decoration: none;
    color: white;
    transition: all .3s ease-in-out;
}

.menu li a:hover {
    transform: scale(1.1);
    color: #efd1f4;
    /* Darker Pink Hover Effect */
}

.content-section h2 {
    color: #51068e;
    /* Bold Pink Heading Color */
    margin-bottom: 1.5rem;
}

.edu-block,
.job-block, 
.skill-list,
.portfolio-list {
    background-color: white;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 0.75rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer {
    text-align: center;
    padding: 1.5rem 0;
    background-color: rgba(171, 4, 180, 0.5);
    /* Same as header */
    position: relative;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 1rem;
    }

    .menu ul {
        flex-direction: column;
        gap: 0.5rem;
    }

    .skill-list ul {
        columns: 1;
    }

    .portfolio-list ul {
        columns: 1;
    }
}
